    .green-p {
            color: green;
            font-size: 112px;
            margin-right: -16px;
            margin-left: 3px;
        }
         #heading{
            width:auto;
            font-size:13px;
            font: normal normal 500 normal;
            font-family:'MorebiRounded-Regular';
            padding-left: 0px;
        }


      #logo { background: url(../img2/camera_hand_mo.png); background-repeat: none; width: 150px;
        height: 90px;
        margin-right: 20px;
     }
     .jumbotron{
           padding: 0px 0px 0px 0px;
     }

      .push-down-1{
            background-color: #f0f0f0 !important;
            padding-top: 30px;
            padding-bottom: 10px;
            margin-left: 2px;
            margin-right: 2px;
     }


         .push-down-2 {
            background-color: #f0f0f0 !important;
            padding-top: 0px;
            padding-bottom: 9px;
            margin-left: 2px;
            margin-right: 2px;
        }
